<div class="container">
  <h1>
    Welcome to {{ title + " and " + name }}
  </h1>

  <h1>Name is {{ name }}</h1>

  <h3>Addition of 60+20 = {{ 60+20 }}</h3>
  <h3>Substration of 60-20 = {{ 60-20 }}</h3>
  <h3>Multiplication of 60*20 = {{ 60*20 }}</h3>
  <h3>Division of 60/20 = {{ 60/20 }}</h3>  

  <h1>
  <strong>{{ name.length }}</strong><br>
  <strong>{{ name.toUpperCase() }}</strong><br>
  <strong>{{ name.toLowerCase() }}</strong>
  </h1><br>

  <h2>{{url}}</h2>
  <h2>{{greetUser()}}</h2>

  <p>----Array of Months----</p>
  <h3>{{months}}</h3>
  <hr>


  <img src="../assets/Image/Angular.jpg" width="300px" height="300px"><br>

</div>