<div class="container" style="margin-top:2%;">
<div class="jumbotron">  
<div *ngIf="chart1">
  <canvas id="canvas">{{ chart1 }}</canvas>
</div>
</div>
<div class="jumbotron">
<div *ngIf="chart2">
  <canvas id="canvas1">{{ chart2 }}</canvas>
</div>
</div>
</div>



