<div class="container binding">
<strong>Binding Component</strong>
<br>

<input class="form-control" [id]="myId"  type="text" value="SCTPL1" disabled><br>

<input class="form-control" id="{{myId}}" [disabled]="isDisabled" type="text" value="SCTPL2">

<p>--- Class Binding ---</p>

<h1 class="text-success">Hello World</h1>

<h2 [class]="newClass">SCTPL1</h2>
<h2 class="text-special" [class]="newClass">SCTPL2</h2>
<h2 [class.text-danger]="hasError">SCTPL3</h2>
<h2 [ngClass]="messageClasses">Message</h2>

<h2 [style.color]="'orange'">Style Binding</h2>
<h2 [style.color]="hasError ? 'red' : 'green'">Style Binding 2</h2>
<h2 [style.color]="highlightColor">Style Binding 3</h2>
<h2 [ngStyle]="titleStyles">Style Binding 4</h2>

<P>---Event Binding---</P>

<button class="btn btn-secondary btn-block" (click)="myClickFunction($event)">
    Click Me
    </button>
<br>

<p>--- Two Way Binding ---</p>

<div class="col-lg-4">
<input type="text" class="form-control" 
placeholder="Enter some text..." 
[(ngModel)]="name">{{name}}
</div>


<br><br><br>
</div>

