<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container">
    <a class="navbar-brand active" href="#">Basic</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="pipe">PIPE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="structure">STRUCTURE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="binding">BINDING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="charts">CHARTS</a>
        </li>
        <button class="btn btn-danger">Log In</button> 
      </ul> 
    </div>
  </nav>

  <router-outlet></router-outlet>
    