<div class="container">

    <h1 *ngIf="isavailable; else elseblock">
        Data is available
    </h1>
    <ng-template #elseblock>
        <h1>Not available</h1>
    </ng-template>



    <div [ngSwitch]="vehicle">
        <div *ngSwitchCase="'bike'">Vehicle is Bike</div>
        <div *ngSwitchCase="'bus'">Vehicle is Bus</div>
        <div *ngSwitchCase="'car'">Vehicle is Car</div>
    </div>



    

    <div> Months :
        <select class="form-control">
          <option *ngFor="let m of months; index as i">{{i}} {{m}}</option>
        </select>
    </div>

    <br>
    <b>----- SERVICES EXAMPLE -----</b>
    <table class="table table-dark table-striped" *ngIf="newProducts;">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>
        <tr *ngFor="let m of newProducts;">
            <td>{{m.id}}</td>
            <td>{{m.name}}</td>
            <td>{{m.price}}</td>
        </tr>
    </table> 
    <br><br>


    <table class="table table-striped table-bordered" *ngIf="empData;">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
        </tr>
        <tr *ngFor="let data of empData;">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
        </tr>
    </table> 


  <br><br> 
       
</div>



