
<div class="container">
  <h1>Uppercase Pipe</h1>
  <b>{{title | uppercase}}</b><br/>

  <h1>Lowercase Pipe</h1>
  <b>{{title | lowercase}}</b><br>
  
  <h1>Titlecase Pipe</h1>
  <b>{{newvar | titlecase}}</b>

  <h1>Currency Pipe</h1>
  <b>{{6589.23 | currency:"USD"}}</b><br/>
  <b>{{6589.23 | currency:"EUR"}}</b><br/>

  <h1>Date pipe</h1>
  <h3>{{todaydate}}</h3>
  <b>{{todaydate | date:'d/M/y'}}</b><br/>
  <b>{{todaydate | date:'shortTime'}}</b><br/>
  <b>{{todaydate | date:'short'}}</b><br/>
  <b>{{todaydate | date:'shortDate'}}</b>

  <h1>Decimal Pipe</h1>
  <b>{{ 24.7 | number: '3.3-4' }}</b>

  <h1>Json Pipe</h1>
  <b>{{ jsonval | json }}</b>

  <h1>Percent Pipe</h1>
  <b>{{00.54565 | percent}}</b>
  
  <h1>Slice Pipe</h1>
  <b>{{ title | slice:2:8}}</b><br>
  <b>{{ months | slice:2:6}}</b>

</div>